.Card-container {
    background-color: #222222;
    width: 80rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: calc(10px + 1vmin);
}